SetEnv APPLICATION_ENV development

RewriteEngine on
RewriteCond $1 !^(index\.php|img|css|js|robots\.txt|sitemap\.xml|favicon\.ico)
RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]

